<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Max's Burgers</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/burger_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/frontend.js"></script>
</head>
<body>
	<img id="img" src="assets/images/burger.png" alt="burger">

	<h1>Burger Builder!!!</h1>
	<div class="clearfix">
		{{{body}}}
	</div>
	<form>
		<input id="burger" type="text" name="newBurger" autofocus placeholder="Name that burger!"></input>
		<button id="createBurger" type="submit">Make that burger!</button>
	</form>	
</body>
</html>